PORT=0000
MONGO_USER=""
MONGO_PASS=""
JWT_SECRET=""
JWT_REFRESH_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_FOLDER_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASS=""
SENDGRID_API_KEY=""